* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
}
header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  height: 60px;
  top: 0px;
  position: sticky;
}
header h1 {
  color: white;
  font-size: 35px;
}
ul {
  display: flex;
  list-style-type: none;
}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li a {
  padding: 15px;
  text-decoration: none;
  color: white;
}
ul li {
  display: inline-block;
}
ul li a:hover {
  color: #fad643;
}

ul li:hover ul {
  display: block;
}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
ul li ul li {
  background: #555;
  display: block;
}
ul li ul li a {
  display: block !important;
}
ul li ul li:hover {
  background: #666;
}
.getstarted-btn {
  border: 1px #fad643 solid;
  border-radius: 10px;
  margin-left: 100px;
}
.getstarted-btn:hover {
  background-color: #fad643;
  color: gray;
  border: 1px #fad643 solid;
}
h1 i {
  color: #fad643;
  font-size: 4px;
}
.first {
  width: 100%;
  height: 600px;
  background-image: url("https://img.freepik.com/free-vector/network-communications-with-flowing-cyber-dots-design_1048-13962.jpg?size=626&ext=jpg&ga=GA1.1.179195757.1674913686&semt=ais");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.first p,
.first .one h1 {
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 15px;
}
.one {
  width: 100%;
  height: 100px;
}
.first-one {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  border: 1px lightgray solid;
  width: 170px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: x-large;
  padding: 5px 15px;
}
.card p:hover {
  color: #fad643;
}
.card i {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: #fad643;
}
.first .one h1 {
  text-align: center;
  padding: 0px 400px;
}
.second img {
  width: 550px;
  height: 360px;
  display: flex;
  margin-top: 50px;
}
.two {
  width: 500px;
  font-size: larger;
}
.two h3 {
  margin-bottom: 15px;
  margin-top: 65px;
}
.two p {
  margin-bottom: 5px;
}
.second {
  display: flex;
  height: calc(100vh - 100vh);
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 200px;
}
.third {
  display: flex;
  height: calc(100vh - 100vh);
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 500px;
}
.third img {
  width: 550px;
  height: 500px;
  margin-top: 60px;
}
.three i {
  font-size: xx-large;
}
.three {
  width: 550px;
  height: 500px;
  font-size: larger;
  margin-top: 100px;
  display: flex;
}
.three h3 {
  margin-bottom: 20px;
  color: #343a40;
}
.three p {
  margin-bottom: 30px;
  color: #666;
}

.cards-parent {
  margin: 20px auto;
  width: 85%;
  height: 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cards {
  width: 350px;
  height: 300px;
  border: 1px #ced4da solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards :hover {
}
.cards h3,
i {
  font-size: x-large;
}
.cards p {
  color: #666;
  font-size: 16px;
}
.fourth {
  margin-top: 400px;
}
.fourth .cards {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 30px;
  gap: 20px;
}
.fourth .cards i {
  background-color: #fad643;
  padding: 20px;
  border-radius: 5px;
}
.fourth .cards h3:hover {
  color: #fad643;
}
.fourth .cards:hover {
  position: relative;
  bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.hpart {
  margin-bottom: 100px;
  margin-left: 100px;
}
