body {
  background-color: #cbcbc0;
  /* margin: 10px 410px 50px 410px; */
}

.main {
  width: 403px;
  border-radius: 20px;
  border: 2px dashed black;
  margin: 15px;
  /* padding: 10px; */
  display: inline-block;
}
img {
  width: 403px;
  height: 200px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
h2 {
  text-align: center;
  color: #f3722c;
}
h3 {
  text-align: center;
  color: #f3722c;
}
p {
  padding: 3px;
  margin-left: 10px;
  color: #83c5be;
}
b {
  font-size: x-large;
  font-family: Playball;
}
div {
  background-color: #44664d;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
i {
  margin-right: 10px;
  color: #f2cc8f;
}
.main:nth-of-type(5) {
  visibility: hidden;
}
p:hover {
  color: #ef233c;
}
div:hover {
  background-color: #7d4e57;
}
