* {
  margin: 0;
  box-sizing: border-box;
}
.main {
  background-color: darkolivegreen;
  width: 600px;
  height: 250px;
}
/* + se primenjuje na prvi HTML element nakon odredjenog (.main) */
.main + p {
  background-color: cornflowerblue;
}
/* > p se odnosi na onaj paragraf koji je direktno child od odredjenog taga (.main) */
.main > p {
  background-color: fuchsia;
}
