body {
  background-color: lightpink;
}
.main {
  border: 2px solid blue;
  margin: auto;
  width: 350px;
  height: 500px;
  border-radius: 20px;
  background-color: lightsalmon;
  display: inline-block;
  margin: 20px;
}
h2 {
  text-align: center;
  font-size: x-large;
  color: darkblue;
}
img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
p {
  text-align: justify;
  padding: 20px;
  font-size: large;
  font-style: italic;
  color: darkseagreen;
  background-color: darkslateblue;
}
p:hover {
  background-color: cornflowerblue;
  color: darkgreen;
}
